.login-background-image {
    background-image: url(/images/account/bg-customer.png);
    background-size: cover;
    height: 100%;
    background-position: center;
}

.btn-signIn {
    width: 400px;
    height: 50px;
    background-color: #333333;
    border-color: #333333;
}