.image-md {
    height:200px;
    width:200px;
}
.image-num {
    position: absolute;
    top: 8%;
    left: 6%;
    background-color: #333333;
    color: #FFFFFF;
    z-index: 1;
    padding: 10px 15px;
    font-size: 12px;
    opacity: 50%;
}
.plus-circle {
    position: absolute;
    top: 20%;
    left: 50%;
    color: #FFFFFF;
    font-size: 64px;
    background-color: #F2F2F2;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 100%;
    text-align: center;
}

.plus-circle-overlay {
    position: absolute;
    top: 20%;
    left: 25%;
    color: #000;
    font-size: 64px;
    background-color: #F2F2F2;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 100%;
    text-align: center;
    opacity: 50%;
}

/* form-bg empty */
input[type="email"], input[type="password"] {
    background-color: #F2F2F2; /* Default color when empty */
}

/* form-bg not empty */
input[type="email"]:not(:placeholder-shown) input[type="password"]:not(:placeholder-shown) {
    background-color: #ffffff; /* Change color when text is entered */
}

/* form-button */

/* Custom button styles */
.custom-button-cancel {
    background-color:  #FFFFFF; /* Your custom color */
    color: #30567A; /* Text color */
    border-color: #30567A ;
  }
  /* Optional: Hover styles */
.custom-button-cancel:hover {
    background-color: #30567A; /* Your custom hover color */
    border-color: #FFFFFF; /* Border color on hover */
  }

.custom-button-save {
    background-color:  #30567A; /* Your custom color */
    color:  #FFFFFF; /* Text color */
  }
  /* Optional: Hover styles */
.custom-button-save:hover {
    background-color: #FFFFFF; /* Your custom hover color */
    border-color: #30567A; /* Border color on hover */
    border-color: #30567A ;
  }

