.style-seet {
    &.color1 {
        background-color: #FF3A3A;
    }

    &.color2 {
        background-color: #FFD700;
    }

    &.color3 {
        background-color: #0AA873;
    }

    &.color4 {
        background-color: #F2F2F2;
    }

    &.color5 {
        background-color: #333333;
    }
}

/* Main Font */
main {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Secondary Font */
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* icon */
.icon {
    color: #fff;
    font-size: 1.5rem;
}

/* form-bg empty */
input[type="email"], input[type="password"] {
    background-color: #F2F2F2; /* Default color when empty */
}

/* form-bg not empty */
input[type="email"]:not(:placeholder-shown) input[type="password"]:not(:placeholder-shown) {
    background-color: #ffffff; /* Change color when text is entered */
}