/* Fliter - Status */
.filter {
    display: inline;
}

.dropdown {
  background-color: #ffffff;
  border-color: #333333;
  /* font-size: 20px; */
  display: inline;
}
.dropdown-toggle {
background-color: #333333;
border-color: #333333;
color: #ffffff;
width: 180px;
font-size: 18px;
}

.dropdown-item {
font-size: 18px;
}

/* Show Detail Button  */
.show-button {
  background-color: #0AA873;
  font-size: 18px;
  height: 40px;
  width:150px;
  color: white;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.show-button:hover {
  background-color: white;
  font-size: 18px;
  height: 40px;
  width:150px;
  color: #0AA873;
  border: 1px solid #0AA873;
}

/* Content */
table {
   font-size: 16px;
   width: fit-content;
}

/* banner  */
.banner {
  height: 200px;
  background-image: url("../../../images/banner/banner3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px;
}

.logo {
  height: 128px;
  width: 128px;
}

.gj-mall {
  font-size: 48px;
  font-weight: bold; 
  text-shadow: 3px 5px 3px #FFFFFF;
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 3px 5px 3px #FFFFFF;
}
