.filter {
  font-size: 24px;
  display: inline;
}

.dropdown {
  background-color: #ffffff;
  border-color: #333333;
  display: inline;
}

.dropdown-toggle {
background-color: #333333;
border-color: #333333;
color: #ffffff;
width: 200px;
font-size: 18px;
display: inline;
}

.dropdown-toggle#dropdown-category {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #333333;
  width: 200px;
  font-size: 18px;
  display: inline;
  }

.dropdown-item {
font-size: 18px;
}

/* Button - Show Detail */
.custom-button2 {
  background-color: #F2F2F2;
  border-color: #F2F2F2;
  color: #333333;
  font-size: 16px;
  height: 40px;
  width:150px;
  display: inline;
  justify-content: center;
  align-items: center; 
}

.custom-button2:hover {
background-color: #333333;
border-color: #333333;
color: #F2F2F2;
}

/* Button - Show Detail */
.custom-button3 {
  background-color: #0AA873;
  border-color: #0AA873;
  color: #ffffff;
  font-size: 16px;
  height: 40px;
  width:150px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.custom-button3:hover {
background-color: #ffffff;
border-color: #0AA873;
color: #0AA873;
}


/* Content */
table {
 font-size: 16px;
 width: fit-content;
}

/* banner  */
.banner {
  height: 200px;
  background-image: url("../../../images/banner/banner1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 1px;
}

.logo {
  height: 128px;
  width: 128px;
}

.gj-mall {
  font-size: 48px;
  font-weight: bold; 
  text-shadow: 3px 5px 3px #FFFFFF;
}

.sub-title {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 3px 5px 3px #FFFFFF;
}