.sidebar {
  width: 250px;
  height: 100vh;
  margin: 0 0 0 20px;
  float: left;
  font-size: 16px;
}

.nav-item {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.sidebar_icon {
  font-size: 1.2rem;
}

.dashboard, .management_user, .delivery, .evaluation, .customerSupport, .edit-profile, .product-dashboard, .ads-dashboard{
  color: #333333;
}
.active i ,.active a {
    color: #0AA873;
}
