#item-wrapper {
    width: 800px;
    height: 500px;
    background-color: #EBEBEB;
    margin: auto; 
    margin: 9rem auto 0;
}

.header {
    border-bottom: 1px dashed black;
}

.fa-circle-check {
    font-size: 2.5rem;
}

strong.label {
    font-size: 24px;
}

span {
    font-size: 18px;
}