.image-md {
    height: 200px;
    width: 200px;
}

.image-banner {
    max-height: 200px;
    width: auto;
}

.image-sm {
    height: auto;
    width: 200px;
}

.image-num {
    position: absolute;
    top: 8%;
    left: 6%;
    background-color: #333333;
    color: #FFFFFF;
    z-index: 1;
    padding: 10px 15px;
    font-size: 12px;
    opacity: 50%;
}

.plus-circle {
    position: absolute;
    top: 20%;
    left: 50%;
    color: #FFFFFF;
    font-size: 64px;
    background-color: #F2F2F2;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 100%;
    text-align: center;
}

.plus-circle-overlay {
    position: absolute;
    top: 20%;
    left: 25%;
    color: #000;
    font-size: 64px;
    background-color: #F2F2F2;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 100%;
    text-align: center;
    opacity: 50%;
}

.pen-circle-overlay {
    position: absolute;
    top: 8%;
    left: 85%;
    color: #fff;
    font-size: 12px;
    background-color: #FFD700;
    font-weight: bold;
    padding: 1px 4px;
    border-radius: 100%;
    text-align: center;
}



/* form text */
label {
    font-size: 28px;
}


/* form-button */

/* Custom button styles */
.custom-button {
    background-color: #30567A;
    /* Your custom color */
    color: #fff;
    /* Text color */
    border-color: #30567A;
    /* Border color (optional) */
    height: 40px;
}

/* Optional: Hover styles */
.custom-button:hover {
    background-color: #fff;
    /* Your custom hover color */
    border-color: #30567A;
    /* Border color on hover */
    color: #30567A;
}

.custom-button-cancel {
    background-color: #FFFFFF;
    /* Your custom color */
    color: #30567A;
    /* Text color */
    border-color: #30567A;
    font-size: 24px;
    height: 50px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Optional: Hover styles */
.custom-button-cancel:hover {
    background-color: #30567A;
    /* Your custom hover color */
    color: #FFFFFF;
}

.custom-button-save {
    background-color: #30567A;
    /* Your custom color */
    color: #FFFFFF;
    /* Text color */
    font-size: 24px;
    height: 50px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Optional: Hover styles */
.custom-button-save:hover {
    background-color: #FFFFFF;
    /* Your custom hover color */
    border-color: #30567A;
    /* Border color on hover */
    color: #30567A;
}

/* Custom button styles */
.custom-edit-cancel {
    background-color: #FFFFFF;
    /* Your custom color */
    color: #0AA873;
    /* Text color */
    border-color: #0AA873;
    font-size: 24px;
    height: 50px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Optional: Hover styles */
.custom-edit-cancel:hover {
    background-color: #0AA873;
    /* Your custom hover color */
    color: #FFFFFF;
}

.custom-edit-update {
    background-color: #0AA873;
    /* Your custom color */
    color: #FFFFFF;
    /* Text color */
    font-size: 24px;
    height: 50px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

/* Optional: Hover styles */
.custom-edit-update:hover {
    background-color: #FFFFFF;
    /* Your custom hover color */
    border-color: #0AA873;
    /* Border color on hover */
    color: #0AA873;
}

/* Cancel Button - Delete Ads Modal */
.custom-delete-cancel {
    background-color: #FFFFFF;
    /* Your custom color */
    color: #FF3A3A;
    /* Text color */
    border-color: #FF3A3A;
    font-size: 24px;
    height: 50px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 210px;
}
.custom-delete-cancel:hover {
    background-color: #FF3A3A;
    /* Your custom hover color */
    color: #FFFFFF;
}

/* Delete Button - Delete Ads Modal */
.custom-delete {
    background-color: #FF3A3A;
    /* Your custom color */
    color: #FFFFFF;
    /* Text color */
    font-size: 24px;
    height: 50px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 210px;
}
.custom-delete:hover {
    background-color: #FFFFFF;
    /* Your custom hover color */
    border-color: #FF3A3A;
    /* Border color on hover */
    color: #FF3A3A;
}

/* brand banner layouts */
.brand-banner {
    height: 200px;
    background-image: url("../../../images/banner/banner4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px;
}

.logo {
    height: 128px;
    width: 128px;
}

.gj-mall {
    font-size: 48px;
    font-weight: bold;
    text-shadow: 3px 5px 3px #FFFFFF;
}

.sub-title {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 3px 5px 3px #FFFFFF;
}

.modal-head {
    background-color: #FF3A3A;
    border-radius: 0;
}

.modal-foot {
    background-color: #F2F2F2;
    border-radius: 0;
    border: none;
}

.icon-edit {
    color: #0AA873;
}

.icon-trash {
    color: #FF3A3A;
}

#table_image {
    width: auto;
    height: 100px;
    object-fit: cover;
}

#category-img-tag {
    max-height: 200px;
    width: auto;
}
