/* Custom button styles */
.custom-button {
    background-color: #30567A;
    /* Your custom color */
    color: #fff;
    /* Text color */
    border-color: #30567A;
    /* Border color (optional) */
    height: 32px;
}

/* Optional: Hover styles */
.custom-button:hover {
    background-color: #fff;
    /* Your custom hover color */
    border-color: #30567A;
    /* Border color on hover */
    color: #30567A;
}

.card-parent {
    position: relative;
    display: inline-block;
}

.rank-num {
    position: absolute;
    top: 0%;
    left: 0%;
    color: #000000;
    /* Text color */
    font-size: 20px;
    /* Adjust font size as needed */
    font-weight: bold;
    /* Adjust font weight as needed */
    background-color: #F2F2F2;
    z-index: 1;
    /* Ensure text is above the image */
}

.rank-image {
    width: 160px;
    height: 160px
}
