/* Custom button styles */
.custom-button {
    background-color: #30567A;
    /* Your custom color */
    color: #fff;
    /* Text color */
    border-color: #30567A;
    /* Border color (optional) */
    height: 28px;
    margin-top: 4px;
    line-height: 2px;
}

/* Optional: Hover styles */
.custom-button:hover {
    background-color: #fff;
    /* Your custom hover color */
    border-color: #30567A;
    /* Border color on hover */
    color: #30567A;
}

.card-parent {
    position: relative;
    display: inline-block;
}

.rank-num {
    position: absolute;
    top: 0%;
    left: 0%;
    color: #000000;
    /* Text color */
    font-size: 20px;
    /* Adjust font size as needed */
    font-weight: bold;
    /* Adjust font weight as needed */
    background-color: #F2F2F2;
    z-index: 1;
    /* Ensure text is above the image */
}

.rank-image {
    width: 160px;
    height: 160px
}

/* Optional: Hover styles */


.custom-delete-cancel {
    background-color: #FFFFFF;
    /* Your custom color */
    color: #0AA873;
    /* Text color */
    border-color: #0AA873;
    font-size: 24px;
    height: 50px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 210px;
}

.custom-delete-cancel:hover {
    background-color: #0AA873;
    /* Your custom hover color */
    color: #FFFFFF;
}

.custom-delete {
    background-color: #0AA873;
    /* Your custom color */
    color: #FFFFFF;
    /* Text color */
    font-size: 24px;
    height: 50px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
    height: 50px;
    width: 210px;
}

.custom-delete:hover {
    background-color: #FFFFFF;
    /* Your custom hover color */
    border-color: #0AA873;
    /* Border color on hover */
    color: #0AA873;
}



.modal-head {
    background-color: #FF3A3A;
    border-radius: 0;
}

.modal-foot {
    background-color: #F2F2F2;
    border-radius: 0;
}

.edit-icon {
    color: #0AA873;
}

.trash-icon {
    color: #FF3A3A;
}

